{% extends 'base.html' %}
{% load static %}

{% block content %}
  <p>Task: {{ task }}</p>  
  <form action="{% url 'update_task' task.id%}" method="POST">
     {% csrf_token %}
    <label>title: <input type="text" name="title" value="{{ task.title }}"></label>
    <label>description: <input type="text" name="description" value="{{ task.description }}"></label>
    <label>due: <input type="date" name="due" value="{{ task.due | date:'Y-m-d' }}"></label>
    <button>Update</button>
  </form>
{% endblock content %}
